*.class
.classpath
.project
.settings

# sbt specific
.cache
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Intellij-IDEA specific
.idea
*.iml
*.ipr
*.iws

# OSX
.DS_Store
